body{
	margin: 0;
	padding: 0;
}

.contenedor{
	margin: 0;
	padding: 0;
}

.caja{
	width: 200px;
	height: 200px;
}

#rosa{
	background-color: #ee3e62;
}

#azul{
	background-color: #2b7db9;
	position: absolute;
	left: 200px;
}

#verde{
	background-color: #b7d84b;
}

#amarillo{
	background-color: #faff16;
}